__pycache__/
.pytest_cache/
*.pyc
runs/*
!runs/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/processed/metadata/*
!data/processed/metadata/.gitkeep
data/processed_v2_stratified_*/
data/splits_v2_stratified_*/
